

.sidenav {
    width: 100%;
    max-width: 220px;
    height: 100vh; 
    padding: 62px 11px 0 11px;
    background: #DFDEDB;
    display: block;
    transition-duration: .5s;
    margin-left: 0;
}

.sidenav__action{
    width: 100%;
    max-width: 220px;
    height: 100vh; 
    padding: 62px 11px 0 11px;
    background: #DFDEDB;
    display: block;
    transition-duration: .5s;
    margin-left: -218px;
}

.sidenav__input {
    margin-bottom: 33px;
}

.sidenav__input input {
    width: 100%;
    background: #D3D1CD;
    border: 0.5px solid #C8C6C4;
    border-radius: 6px;
}

.sidenav__frame {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidenav__title {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #9F9E9B;
    margin-bottom: 9px;
}

.sidenav__list {
    padding-left: 11px;
    margin: 0;
}

.sidenav__item {
    list-style: none;
}

.sidenav__item a {
    text-decoration: none;
}

.sidenav__link {
    display: flex;
    width: 100%;
    align-items: center;
}

.sidenav__link span {
    color: #424241;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-left: 4px;
}

.sidenav__link svg {
    width: 18px;
}